
<div class="container"  id="bodyleft">

  <div >
    
    <div id="title">DAIRY APP</div>
    <div id="subtitle">Сomment with no sense</div>

  </div>

  
</div>

<div class='container' id="itemsContainer">
  
  <div id="itemsWindowContent" style="margin-left: 0px;">

    <p id="itemsTitle">Items</p>

    <div class="input-group mb-3">

      <input [(ngModel)]='newItem.title' type="text" class="form-control" placeholder="Type name here..." id="inputName" name="title" (ngModelChange)="checkTitleNewItem(newItem.title)" >
      <button type="button" class="btn btn-info" id='addNew' (click)='addNew()'>Add new</button>

    </div>  

    <div *ngIf='uniqueTrigger' id="addingError">Item with same name already added. Please change! </div>

    <ul class="list-group list-group-flush" id="list">

      <li class="list-group-item" id="item" *ngFor='let item of items' [style.border-left]='item.style' routerLink="/items/{{item.key}}">
        
        <div class="row" id='row' >
          <div class="col-md" id="contentItem">{{item.title}} <span class="badge badge-info badge-pill " id="spanCount">{{item.numberComments}}</span> </div ><button type="button" class="btn btn-info col-3" id='deleteItem' (click)='deleteItem(item)'>Delete</button>
        </div>      
        
      </li> 

    </ul>
    
  </div>

</div>

<div class="container" id='commentsContainer'>
  <router-outlet ></router-outlet>

</div >


